@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header .line {
    background-color: #117050;
    height: 10px;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.bar {
    background-color: #117050;
    height: 22px;
    width: 168px;
}
h1 {
    font-size: 96px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    line-height: 100px;
    margin-bottom: 50px;
}
h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    line-height:45px;
    margin: 20px 0px;
}
.button {
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
    margin-top: 40px;
}
.button:hover {
    color: #fff;
    background-color: #454545;
}

/* HEADER */

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header-left img {
    width: 64px;
    height: 64px;
}
.header-right {
    display: flex;
    align-items: center;
    width: 100%;
}
.header-search {
    width: 100%;
}
.header-search form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.header-search input {
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 300px;
}
.header-search button {
    border: 0px;
    background-color: transparent;
    margin-left: -25px;
    cursor: pointer;
}
.header-search button img {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}
.header-menu {
    margin-left: 70px;
    cursor: pointer;
}
.header-menu img {
    width: 24px;
    height: 24px;
}

/* BANNER */

.banner {
    background-image: url('../../media/bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 120px 20px;
}
.banner-images img {
    width: 148px;
    height: 148px;
    border: 5px solid #117050;
    border-radius: 50%;
    background: transparent;
    margin-top: 60px;
    margin-right: 40px;
}

/* AREA 1 */

.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area1-content {
    padding: 60px 240px;
}
.area1-quote {
    margin-bottom: 30px;
    font-style: italic;
}
.area1-text {
    line-height: 25px
}
.area1-img1 {
    background-image: url(../../media/f1.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.area1-img2 {
    background-image: url(../../media/f2.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

/* AREA 2 */

.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area2-content {
    padding: 80px 240px;
}
.area2-text {
    line-height: 25px;
}
.area2-img1 {
    background-image: url(../../media/f3.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.area2-img2 {
    background-image: url(../../media/f4.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
}

/* AREA 3 */

.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area3-content {
    padding: 200px 240px;
    background-image: url(../../media/bg2.jpg);
    background-size: cover;
    background-position: left;
}
.area3-text {
    line-height: 25px;
}
.area3-img1 {
    background-image: url(../../media/f5.jpg);
    background-size: cover;
    background-position: center;
}